.panel{
	margin-bottom: 0 !important;
	background-color: #FFF;
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: none;
}
#loginform{
	text-align: center;
	padding: 30px;
}
#loginform img{
	margin-bottom: 50px;	
}

#loginform input{
	margin-bottom: 10px;	
}

